
.actionContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 120rem;
  height: 7rem;
  background-color: #fff;
  border-top: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.favorite {
  height: 2.5rem;
  width: 2.5rem;
  margin: 1rem 2rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  fill: var(--color-primary);
}

.price {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.chat {
  margin: 2rem;
  width: 12rem;
  font-size: 1.5rem;
}

.unit {
  display: inline-block;
  padding: 0.3rem;
  font-size: 1.5rem;
  font-weight: 400;
}