.container {
  width: 100%;
  display: flex;
}

.input {
  font-family: inherit;
  font-size: inherit;
  flex-grow: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary-light-2);
  padding: 0.7rem 2rem;
  margin-right: -0.2rem;

  &:focus {
    outline: none;
  }
}

.icon {
  margin-top: 0.5rem;
  height: 1.5rem;
  width: 4rem;
  fill: #fff;
}

.button {
  border-radius: 0px;
}
