.container {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-dark-2);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active {
  color: var(--color-primary);
  font-weight: bold;
  cursor: default;
  border-bottom: 1px solid var(--color-primary);
}
