.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 1rem;

  &Image {
    height: 5rem;
    width: 5rem;
    background: url("../../../assets/images/logo-medium.png") no-repeat;
    background-size: cover;
    margin: 0 1rem;
  }

  &Text {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 220%;
    line-height: 1;

    background-image: linear-gradient(to right, var(--color-primary-light-2), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.userLocation {
  display: flex;
  align-items: center;
  
  width: 10rem;

  &Icon {
    height: 2.25rem;
    width: 2.25rem;
    background-image: linear-gradient(to right, var(--color-primary-light-2), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    fill: var(--color-primary);
  }

  &Text {
    font-size: 120%;
    line-height: 1;
    color: var(--color-grey-dark-1);
  }
}

.nav {
  align-items: center;
  width: 10rem;
  height: 7rem;
  padding: 0.5rem;
}
