.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  &Input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-3);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 75%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 80%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-3);
    }
  }

  &Input:focus + &Button {
    background-color: var(--color-primary-light-3);
  }
  
  &Button {
    border: none;
    background-color: var(--color-grey-light-3);

    &:focus {
      outline: none;  
    }

    &:active {
      transform: translateY(2px); 
    }
  }

  &Icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}
