.container {
  width: 100%;
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.photo {
  position: relative;
  width: 10rem;
  height: 10rem;

  &Image {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--color-primary);
  }

  &Delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-white);
    font-size: 1.2rem;
    &:before {
      color: var(--color-primary);
      content: '✕';
    }
  }
}

.add {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--color-primary-light-1);

  display: flex;
  align-items: center;
  justify-content: center;

  &Icon {
    position: relative;
    font-size: 3.2rem;
    color: var(--color-primary);

    &::before {
      display: block;
      content: '+';
    }
  }
}
