.itemView {
  // height: 100rem
}

.image {
  width: 100%;
  height: 25rem;

  > img {
    width: 100%;
    height: 25rem;
  }
}

.owner {
  width: 100%;
  padding: 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-3);

  > img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid var(--color-primary-light-2);
  }

  &TextContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
  }

  &Name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-black);
  }

  &Location {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
  }
}

.title {
  width: 100%;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black);
}

.date {
  width: 100%;
  padding: 0rem 2rem 0rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey-dark-2);
}

.description {
  width: 100%;
  padding: 2rem;
  min-height: 14rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black);
}

.count {
  width: 100%;
  height: 3rem;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey-dark-2);
}

.action {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 120rem;
  height: 7rem;
  background-color: #fff;
  border-top: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  &Favorite {
    height: 2.5rem;
    width: 5rem;
    margin: 1rem 2rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    fill: var(--color-primary);
    border-right: 1px solid var(--color-grey-light-3);
  }

  &ChatButton {
    padding: 0.5rem;
    margin: 2rem;
    width: 12rem;
    font-size: 1.5rem;
  }
}

.price {
  flex-grow: 1;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

.unit {
  padding: 0.3rem;
  font-size: 1.5rem;
  font-weight: 400;
}
