.container {
  // display: flex;
}

.brief {
  &Section {
    background-color: var(--color-grey-light-1);
  }

  &TextContainer {
    padding-left: 5vw;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &Image {
    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &Element {
      width: 75%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    }
  }
}

.download {
  &Section {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    background-color: var(--color-white);
  }

  &Button {
    &Container {
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      column-gap: 1.5rem;
    }

    &Element {
      width: 12rem;
      height: 3.5rem;
      object-fit: cover;
    }
  }
}

.hot {
  &Section {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    background-color: var(--color-grey-light-1);
  }

  &Title {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
