.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 90%;
  max-width: 80rem;

  &Group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &Input {
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    background-color: rgba(#fff, 0.5);
    border-bottom: 3px solid transparent;
    border: 1px solid var(--color-primary-light-1);
    width: 100%;
    display: block;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
      border: 1px solid var(--color-primary-light-2);
    }

    &:focus:invalid {
      border: 1px solid #f00;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-2);
    }
  }

  &Label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: var(--color-primary);
  }

  &Input:placeholder-shown + &Label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.button {
  width: 100%;
  padding: 1rem;
  margin: auto;
  font-size: 1.5rem;
}
