.modal {
  z-index: 201;
  position: fixed;
  top: 22vh;
  left: 5%;
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modalHeader {
  width: 100%;
  padding: 0.1rem 0.5rem;
  background: var(--color-primary);
  color: var(--color-white);
}

.modalHeader h2 {
  margin: 0.5rem;
}

.modalContent {
  padding: 1.5rem 1.5rem;
  font-size: 1.2rem;
  color: var(--color-grey-dark-2);
}

.modalFooter {
  padding: 0.5rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modalEnter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modalEnterActive {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modalExit {
  transform: translateY(0);
  opacity: 1;
}

.modalExitActive {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
