.container {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}

.chat {
  margin-top: 0.7rem;
  height: 1.7rem;
  width: 1.7rem;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  fill: var(--color-primary);
}
