.container {
  position: absolute;
  height: 6rem;
  width: 10rem;
}

.user {
  margin: 1.5rem;
  display: grid;
  width: 80%;
  grid-template-columns: 6rem 0.5rem 2rem auto;
  grid-template-rows: 3.5rem 2.5rem;
  align-items: center;

  &Photo {
    grid-column: 1/ span 1;
    grid-row: 1 / span 2;
    display: block;
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid var(--color-primary-light-2);
  }

  &Name {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    margin-left: 0.5rem;
    font-size: 150%;
    font-weight: 800;
    color: var(--color-primary);
  }

  &LocationIcon {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    height: 2rem;
    width: 2rem;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    fill: var(--color-primary);
  }
  
  &LocationText {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    margin-left: 0.5rem;
    font-size: 150%;
    font-weight: 500;
    line-height: 1;
    color: var(--color-primary);
  }
}

.loginButton {
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 7px 25px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #ffffff;
  font-weight: 600;
  width: 8rem;
  height: 3rem;
}
